@import url(_type_rect/cover__link_type_rect.css);

.cover__link {
    position: relative;
    color: #ffffff;   
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
}