.place__title {
    margin-right: 40px;
    width: 48%;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        width: 45%;
        margin-right: 60px;
    }
}

@media screen and (max-width: 537px) {
    .place__title {
        width: 40%;
        font-size: 32px;
        line-height: 36px;
    }
}

@media screen and (max-width: 406px) {
    .place__title {
        width: 36%;
        font-size: 32px;
        line-height: 36px;
    }
}

@media screen and (max-width: 375px) {
    .place__title {
        width: 91%;
        margin-left: 4.5%;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
    }
}
