.place__title {
    margin-right: 40px;
    width: 48%;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    margin-bottom: 60px;
}



@media screen and (max-width: 375px) {
    .place__title {
        width: 91%;
        margin-left: 4.5%;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
    }
}
