.cover-bg__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
    position: absolute;
    bottom: 5%;
    width: 29%;
    right: 35%;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .cover-bg__subtitle {
        width: 32%;
       
    }
}

@media screen and (max-width: 768px) {
    .cover-bg__subtitle {
        width: 46%;
        font-size: 18px;
        line-height: 26px;
        right: 28%;
    }
}

@media screen and (max-width: 375px) {
    .cover-bg__subtitle {
        font-size: 14px;
        line-height: 17px;
        width: 85%;
        right: 8%;
    }
}

@media screen and (max-width: 320px) {
    .cover-bg__subtitle {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }
}