.place__image {
    width: 48%;
    height: 48%;
    
}


@media screen and (max-width: 537px) {
    .place__image {
        width: 44%;
    }
}

@media screen and (max-width: 600px) {
    .place__image {
        width: 100%;
        margin-bottom: 24px;
    }
}
