.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
    position: absolute;
    bottom: 5%;
    width: 29%;
    right: 35%;
    text-align: center;
}

@media screen and (max-width: 1280px) {
    .cover__subtitle {
        width: 32%;
    }
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        width: 35%;
       
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: 46%;
        font-size: 18px;
        line-height: 26px;
        right: 28%;
    }
}

@media screen and (max-width: 560px) {
    .cover__subtitle {
        width: 65%;
        font-size: 16px;
        line-height: 24px;
        right: 20%;
    }
}

@media screen and (max-width: 475px) {
    .cover__subtitle {
        width: 75%;
        font-size: 16px;
        right: 14%;
    }
}

@media screen and (max-width: 375px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 17px;
        width: 85%;
        right: 8%;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        bottom: 10%;
    }
}