.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
    position: absolute;
    bottom: 5%;
    width: 29%;
    right: 35%;
    text-align: center;
}

@media screen and (max-width: 1280px) {
    .cover__subtitle {
        width: 32%;
    }
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        width: 35%;
       
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: 55%;
        font-size: 18px;
        line-height: 26px;
        right: 25%;
    }
}

@media screen and (max-width: 631px) {
    .cover__subtitle {
        width: 58%;
        font-size: 16px;
        line-height: 24px;
        right: 20%;
    }
}

@media screen and (max-width: 531px) {
    .cover__subtitle {
        width: 69%;
        font-size: 16px;
        right: 14%;
    }
}

@media screen and (max-width: 447px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 17px;
        width: 75%;
        right: 13%;
    }
}

@media screen and (max-width: 360px) {
    .cover__subtitle {   
        font-size: 14px;
        line-height: 15px;
        bottom: 8%;
        width: 90%;
        right: 5%;
    }
}