.video__description {
    max-width: 425px;
    position: relative;
    margin-bottom: 30px;
    margin-left: 30px;
}

@media screen and (max-width: 650px) {
    .video__description {
        margin-bottom: 30px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 375px) {
    .video__description {
        margin-bottom: 30px;
        margin-left: 30px;
    }
}
