@import url(__links/header__links.css);
@import url(__link/header__link.css);
@import url(__link/_underline/header__link_underline.css);
@import url(__image/header__image.css);

.header {
    padding-top: 30px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 93%;
    }
}

@media screen and (max-width: 375px) {
    .header {
        width: 91%;
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: 90%;
    }
}