@import url(__subtitle/cover-bg__subtitle.css);
@import url(__title/cover-bg__title.css);

.cover-bg {
    position: relative;
    background-image: url(../../images/cover-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 594px;
    width: 100%;
    color: #ffffff;
    
}

.cover-bg::before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    opacity: 0;
    border-radius: 5px;
}
.cover-bg:hover::before {
    opacity: 0.5;
    transition: 1s linear;
}

@media screen and (max-width: 768px) {
    .cover-bg {
        background-image: url(../../images/cover-bg768.png);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 500px;
    }
}

@media screen and (max-width: 375px) {
    .cover-bg {
        min-height: 270px;
    }
}