.place__paragraphs {
    width: 47%;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-left: 40px;
}

@media screen and (max-width: 1088px) {
    .place__paragraphs {
        width: 44%;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        font-size: 16px;
        line-height: 27px;
        width: 46%;
    }
}

@media screen and (max-width: 717px) {
    .place__paragraphs {
        width: 40%;
    }
}

@media screen and (max-width: 537px) {
    .place__paragraphs {
        width: 40%;
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .place__paragraphs {
        width: 91%;
        margin: 0;
        margin-left: 5%;
    }
}