.place__paragraphs {
    width: 42%;
    min-height: 420px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-left: 40px;
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
    }
}



@media screen and (max-width: 375px) {
    .place__paragraphs {
        width: 91%;
        margin: 0;
        margin-left: 5%;
    }
}