.header__link {
    text-decoration: none;
    margin-left: 18px;
    color: #ffffff;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
}

.header__link:hover {
    opacity: 0.7;
    transition: 1s linear;
}

@media screen and (max-width: 375px) {
    .header__link {
        font-weight: normal;
        font-size: 18px;
        line-height: 96.82%;
    }
}

