@import url(_foto/video__item_foto_kamchatka.css);
@import url(_foto/video__item_foto_observatory.css);
@import url(_type_rect/video__item_type_rect.css);

.video__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    color: #ffffff;
}

@media screen and (max-width: 650px) {
    .video__item {
        width: 85%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 450px) {
    .video__item {
        width: 90%;
    }
}

@media screen and (max-width: 375px) {
    .video__item {
        width: 100%;
    }
}


