.footer__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 41px;
    color: #ffffff;
}

.footer__link:hover {
    opacity: 0.7;
    transition: 1s linear;
}

@media screen and (max-width: 768px) {
    .footer__link {
        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (max-width: 406px) {
    .footer__link {
        font-size: 8px;
        line-height: 27px;
    }
}

@media screen and (max-width: 375px) {
    .footer__link {
        font-size: 24px;
        line-height: 41px;
    }
}