.video__duration {
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    margin-bottom: 12px;
    
}

@media screen and (max-width: 768px) {
    .video__duration {
        font-weight: 500;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.3em;
        margin-bottom: 8px;
    }
}