.footer__links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%
}


@media screen and (max-width: 670px) {
    .footer__links {
        flex-direction: column;
        width: 100%;
        margin-bottom: 48px;
    }
}

