@import url(__title/intro__title.css);
@import url(__text/intro__text.css);
@import url(__list/intro__list.css);
@import url(__content/intro__content.css);

.intro {
    width: 58%;
    margin-left: 12.5%;
    color: #ffffff;
    margin-bottom: 103px;
}

@media screen and (max-width: 1280px) {
    .intro {
        margin-left: 10%;
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: 93%;
        margin-left: 3.5%;
    }
}

@media screen and (max-width: 375px) {
    .intro {
        width: 91%;
        margin: 4.5%;
        margin-bottom: 64px;
    }
}