.footer__navbar {
    min-width: 55%;
}

@media screen and (max-width: 1024px) {
    .footer__navbar {
        min-width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .footer__navbar {
        min-width: 65%;
    }
}

