.comments__item {
    width: 100%;
    margin-right: 19px;
}

.comments__item:last-child {
    margin-right: 0px;
}

@media screen and (max-width: 768px) {
    .comments__item {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-bottom: 47px;
    }
}

@media screen and (max-width: 375px) {
    .comments__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-bottom: 47px;
        width: 100%;
    }
}