.content-subtitle {
    width: 51%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 72px;
}

@media screen and (max-width: 1024px) {
    .content-subtitle {
        width: 65%;
    }
}

@media screen and (max-width: 768px) {
    .content-subtitle {
        font-size: 24px;
        line-height: 35px;
        width: 88%;
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 430px) {
    .content-subtitle {
        font-size: 16px;
        line-height: 23px;
        width: 95%;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 320px) {
    .content-subtitle {
        width: 92%;
    }
}