.cover__image {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .cover__image {
        height: 70vh;
    }
}

@media screen and (max-width: 560px) {
    .cover__image {
        height: 45vh;
    }
}

@media screen and (max-width: 375px) {
    .cover__image {
        height: 40vh;
    }
}