.cover__image {
    width: auto;
    margin: 0 -100px;
}

@media screen and (max-width: 1024px) {
    .cover__image {
        height: 562px;
    }
}

@media screen and (max-width: 768px) {
    .cover__image {
        height: 500px;
    }
}

@media screen and (max-width: 650px) {
    .cover__image {
        height: 350px;
    }
}

@media screen and (max-width: 420px) {
    .cover__image {
        height: 272px;
    }
}

@media screen and (max-width: 320px) {
    .cover__image {
        height: 216px;
    }
}