.comments__author {
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    
}

@media screen and (max-width: 768px) {
    .comments__author {
        order: 1;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 375px) {
    .comments__author {
        order: 1;
        margin-bottom: 24px;
        width: 100%;
        text-align: center;
    }
}