@import url(__paragraphs/place__paragraphs.css);
@import url(__title/place__title.css);
@import url(__url-heading/place__url-heading.css);
@import url(__url/place__url.css);
@import url(__website/place__website.css);
@import url(__image/place__image.css);
@import url(__paragraph/place__paragraph.css);

.place {
    width: 100%;
    min-height: 653px;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 72px;
    
}

.place:last-child {
    margin-bottom: 102px;
}



@media screen and (max-width: 1024px) {
    .place {
        width: 100%;
        margin: 0;
        margin-bottom: 65px;
    }
}


@media screen and (max-width: 375px) {
    .place {
        margin: 0;
        margin-bottom: 48px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .place:last-child {
        margin-bottom: 64px;
    }
}