.place__url {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
}

.place__url:hover {
    opacity: 0.7;
    transition: 1s linear;
}

@media screen and (max-width: 491px) {
    .place__url {
        font-size: 13px;
        line-height: 27px;
    }
}