.place__website {
    display: flex;
    flex-direction: column;
    max-width: 53%;
    justify-content: flex-end;
    padding-bottom: 60px;
}

@media screen and (max-width: 600px) {
    .place__website {
        display: none;
    };
}

