.video__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}



@media screen and (max-width: 650px) {
    .video__container {
        flex-direction: column;
    }
}
