.content-title {
    margin: 0 auto;
    width: 57%;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin-bottom: 48px;
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    .content-title {
        width: 87%;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .content-title {
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        width: 80%;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 375px) {
    .content-title {
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        width: 85%;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 320px) {
    .content-title {
        width: 95%;
    }
}